@media (max-width: 480px) {
    .info {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }

    .titleContact {
        font-size: 45px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact {
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 481px) and (max-width: 599px){
    .info {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }
    .titleContact {
        font-size: 55px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact{
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 600px) and (max-width: 767px){
    .info {
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }

    .titleContact {
        font-size: 55px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact{
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .info {
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleContact {
        font-size: 65px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact{
        font-family: "Bebas Neue", sans-serif;
        width: 100%;
        max-width: 100%;
        font-size: 26px;
    }

    p.contactFont {     
        font-size: 20px;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .info {
        text-align: center;
    }
    .flex-row {
        flex-direction: column;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleContact {
        font-size: 80px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact{
        font-family: "Bebas Neue", sans-serif;
        width: 100%;
        max-width: 100%;
        font-size: 30px;
    }

    p.contactFont {     
        font-size: 26px;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .info {
        text-align: center;
    }
    .flex-row {
        flex-direction: column;
    }

    .data{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleContact {
        font-size: 80px;
        font-family: "Bebas Neue", sans-serif;
    }

    p.pContact{
        font-family: "Bebas Neue", sans-serif;
        width: 100%;
        max-width: 100%;
        font-size: 30px;
    }

    p.contactFont {     
        font-size: 26px;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}
