@media (max-width: 480px) {
    .info {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }

    .titleContact {
        font-size: 45px;
        font-family: "Bebas Neue", sans-serif;
    }

    p {
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 481px) and (max-width: 599px){
    .info {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }
    .titleContact {
        font-size: 55px;
        font-family: "Bebas Neue", sans-serif;
    }

    p{
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media(min-width: 600px) and (max-width: 767px){
    .info {
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }

    .titleContact {
        font-size: 55px;
        font-family: "Bebas Neue", sans-serif;
    }

    p{
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .info {
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: row;
    }

    .titleContact {
        font-size: 65px;
        font-family: "Bebas Neue", sans-serif;
    }

    p{
        font-family: "Bebas Neue", sans-serif;
    }

    p.contactFont {     
        font-size: 20px;
    }

    textarea {
        width: 100%;
        max-width: 100%;
    }
}