@media (max-width: 480px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .flex-row {
        flex-direction: column;
        gap: 10px;
    }
    .titleContact {
        font-size: 45px;
    }
    p.contactFont {     
        font-size: 20px;
    }
    textarea {
        width: 100%;
        max-width: 100%;
    }
}
