@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

body {
    background-color: #455d7a;
}

.header {
    font-family: "Bebas Neue", sans-serif;
}

.title{
    font-family: "Rock Salt", cursive;
}

.intro {
    font-family: "Roboto Mono", monospace;
}

/*Catalog*/
.catalogTitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}

/*Contact*/
.contactFont {
    font-family: "Kameron", serif;
    font-size: 24px;
}
